@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
    -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: 0;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
  /* 1 */
    -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
  /* 1 */
    padding: 0;
    white-space: normal;
  /* 2 */
    *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
  /* 1 */
    margin: 0;
  /* 2 */
    vertical-align: baseline;
  /* 3 */
    *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
    *height: 13px;
  /* 3 */
    *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
  /* 1 */
    vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
}

.container {
    max-width: 660px;
    min-width: 320px;
    margin: 0 auto;
}

.full-width {
    position: relative;
}

.full-width::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}

svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

source {
    width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

label {
    display: block;
    font-size: 0px;
}

label input,
  label textarea {
    width: 100%;
    display: block;
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto.woff2") format("woff2"), url("../fonts/Roboto/Roboto.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto300.woff2") format("woff2"), url("../fonts/Roboto/Roboto300.woff") format("woff");
}

@font-face {
    font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Lato/lato-v17-latin-regular.woff2") format("woff2"), url("../fonts/Lato/lato-v17-latin-regular.woff") format("woff");
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Слайдер */
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: -ms-flexbox;
    display: flex;
}

/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
/* Конкретный слайдер */
.stories .slider__item {
    min-width: 0px;
}

.burger {
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
}

.burger::before, .burger::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: white;
    transition: all;
    transition-duration: 0.3s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span {
    width: 100%;
    position: absolute;
    top: 9px;
    background-color: white;
    height: 2px;
    transition: all;
    transition-duration: 0.3s;
    opacity: 1;
}

.burger span:hover {
    width: 100%;
}

.burger.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}

.burger.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
}

.burger.active span {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    opacity: 0;
}

body {
    background-color: #181818;
    color: #ffffff;
    position: relative;
}

@supports (padding: 0px) {
    body {
        padding-top: max(0px, env(safe-area-inset-top));
        padding-right: max(0px, env(safe-area-inset-right));
        padding-bottom: max(0px, env(safe-area-inset-bottom));
        padding-left: max(0px, env(safe-area-inset-left));
    }
}

.header {
    padding: 0px 0px 0px 300px;
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #0d0d0d;
    box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1000px) {
    .header {
        padding: 0px 0px 0px 0px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

@media (max-width: 750px) {
    .header {
        padding: 0px 0px 0px 15px;
    }
}

.header__left {
    padding: 0px 0px 0px 0px;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
}

@media (max-width: 750px) {
    .header__burger {
        display: block;
    }
}

.page-nav {
    display: inline-block;
}

@media (max-width: 750px) {
    .page-nav {
        margin: 30px 0px 0px 0px;
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
}

@media (max-width: 750px) {
    .page-nav_profile {
        margin: 0px 0px 0px 0px;
    }
}

.page-nav__list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 750px) {
    .page-nav__list {
        display: block;
    }
}

.page-nav__item {
    position: relative;
    z-index: 101;
}

@media (min-width: 750px) {
    .page-nav__item:hover .page-nav__sub-list {
        pointer-events: visible;
        opacity: 1;
    }

    .page-nav__item:hover .page-nav__link {
        background-color: #3137c9;
    }
}

@media (max-width: 750px) {
    .page-nav__item_main {
        display: none;
    }
}

.page-nav__link {
    padding: 14px 12px 15px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    transition: all;
    transition-duration: 0.2s;
}

.page-nav__link.has--arrow::after {
    content: "";
    margin: 0px 0px 0px 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #ffffff transparent transparent transparent;
}

@media (max-width: 750px) {
    .page-nav__link {
        padding: 11px 0px 12px 10px;
        font-weight: 300;
        font-size: 15px;
        text-transform: none;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
    }

    .page-nav__link:hover {
        color: #3137c9;
    }

    .page-nav__link.has--arrow::after {
        display: none;
    }
}

.page-nav__sub-list {
    width: 165px;
    background-color: #3137c9;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: opacity;
    transition-duration: 0.2s;
}

@media (max-width: 750px) {
    .page-nav__sub-list {
        padding: 0px 0px 0px 15px;
        position: static;
        background-color: transparent;
        opacity: 1;
        box-shadow: none;
    }
}

.page-nav__sub-item {
    padding: 8px 0px 8px 13px;
    transition: all;
    transition-duration: 0.2s;
}

@media (min-width: 750px) {
    .page-nav__sub-item:hover {
        background-color: #22268b;
    }
}

@media (max-width: 750px) {
    .page-nav__sub-item {
        padding: 8px 0px 8px 13px;
    }
}

.page-nav__sub-link {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    transition: all;
    transition-duration: 0.2s;
}

@media (max-width: 750px) {
    .page-nav__sub-link {
        font-size: 14px;
        pointer-events: painted;
    }

    .page-nav__sub-link:hover {
        color: #3137c9;
    }
}

.search-form {
    width: 21.2em;
    box-shadow: -0.7em 0.1em 1em rgba(0, 0, 0, 0.3);
    background-color: #202020;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .search-form {
        font-size: 0.9rem;
    }
}

.search-form__input {
    font-size: 0px;
}

.search-form__input input {
    padding: 1.17em 0px 0px 1.67em;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.search-form__input input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
}

.search-form__input input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
}

.search-form__input input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
}

.search-form__input input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
}

.search-form__input input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
}

.sidebar {
    padding: 0em 2em 2em 2em;
    width: 300px;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
    background-color: #202020;
    box-shadow: 0.5em 0 1.5em rgba(5, 5, 5, 0.9);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
}

@media (max-width: 1000px) {
    .sidebar {
        width: 270px;
        font-size: 0.9rem;
        top: 4em;
    }
}

@media (max-width: 750px) {
    .sidebar {
        padding: 0em 2em 2em 2em;
        width: 300px;
        -ms-flex-align: start;
        align-items: flex-start;
        font-size: 1rem;
        box-shadow: 9px 0 15px rgba(0, 0, 0, 0.3), inset -10px 0 5px rgba(5, 5, 5, 0.35);
        background-color: #0d0d0d;
        background-position: 0px -80px;
        overflow: auto;
        opacity: 0;
        transition: opacity;
        pointer-events: none;
    }

    .sidebar.show {
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        transition-duration: 0.3s;
        pointer-events: all;
    }
}

.sidebar__header {
    margin: -5em 0px 0px 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 750px) {
    .sidebar__header {
        margin: -2em 0px 0px 0px;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
}

.sidebar__bg {
    margin: 0em -2em 0em -2em;
}

.sidebar__avatar {
    margin: 0em 0px 2.2em 0px;
    width: 10em;
    height: 10em;
    background-color: #ffffff;
    border: 0.2em solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0.7em 2em rgba(0, 0, 0, 0.25);
}

.sidebar__avatar img,
    .sidebar__avatar source {
    border-radius: 50%;
}

@media (max-width: 750px) {
    .sidebar__avatar {
        margin: 0px 1.3em 0px -0.7em;
        width: 6.5em;
        height: 6.5em;
    }
}

.sidebar__name {
    margin: 0px 0px 1em 0px;
    color: #ffffff;
    font-size: 1.8em;
    text-align: center;
}

@media (max-width: 750px) {
    .sidebar__name {
        margin: 24px 0px 0px 0px;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 1.5em;
        text-align: left;
    }
}

.sidebar__duty {
    margin: 0.5em 0px 0px 0px;
    display: block;
    color: #dedede;
    font-size: 0.778em;
    font-weight: 300;
}

@media (max-width: 750px) {
    .sidebar__duty {
        font-size: 0.8em;
    }
}

.sidebar__social-list {
    margin: 0px 0px 6em -1.1em;
}

@media (max-width: 750px) {
    .sidebar__social-list {
        display: none !important;
    }
}

.sidebar__text {
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

@media (max-width: 750px) {
    .sidebar__text {
        display: none;
    }
}

.sidebar__text_up {
    margin: 0px 0px 1.5em 0px;
}

.sidebar__text_down {
    margin: 0px 0px 2em 0px;
}

.social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.social__item {
    margin: 0px 15px 0px 0px;
}

.social__item:last-child {
    margin: 0px 0px 0px 0px;
}

.social__link {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.social__link_instagram {
    background-image: url(../images/icons/instagram.svg);
}

.social__link_vkontakte {
    background-image: url(../images/icons/vk.svg);
}

.social__link_pinterest {
    background-image: url(../images/icons/pinterest.svg);
}

.social__link_copy {
    background-image: url(../images/icons/copy.svg);
}

.social__link_facebook {
    background-image: url(../images/icons/facebook.svg);
}

.social__link_twitter {
    background-image: url(../images/icons/twitter.svg);
}

.social__link_45x45 {
    width: 45px;
    height: 45px;
}

@media (max-width: 850px) {
    .social__link_45x45 {
        width: 35px;
        height: 35px;
    }
}

.buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1rem;
}

.buttons__button {
    padding: 0.667em 1.25em 0.583em 1.25em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    border-radius: 2.08em;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 500;
    transition: background-color;
    transition-duration: 0.3s;
}

.buttons__button_link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ed3024;
    box-shadow: 0 0.58em 1.42em rgba(242, 63, 63, 0.2);
}

.buttons__button_link:hover {
    background-color: #b6190f;
}

.buttons__button_button {
    background-color: #3137c9;
    border: none;
    box-shadow: 0 0.58em 1.42em rgba(32, 84, 219, 0.35);
}

.buttons__button_button:hover {
    background-color: #22268b;
}

.buttons__button_rect {
    border-radius: 0.42em;
}

.buttons__button_120x40 {
    width: 10em;
    height: 3.33em;
}

.buttons__button_blue {
    background-color: #3137c9;
    box-shadow: 0 0.58em 1.42em rgba(32, 84, 219, 0.35);
}

.buttons__button_blue:hover {
    background-color: #22268b;
}

.buttons__button_center {
    -ms-flex-item-align: center;
    align-self: center;
}

.main {
    padding: 60px 0px 80px 300px;
    opacity: 1;
}

.main.fixed {
    overflow: hidden;
}

.main.transparent {
    opacity: 0.3;
}

@media (max-width: 1000px) {
    .main {
        padding: 30px 0px 40px 270px;
    }
}

@media (max-width: 750px) {
    .main {
        padding: 30px 0px 40px 0px;
        transition: opacity;
        transition-duration: 0.3s;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 20px 0px 40px 0px;
    }
}

.page {
    padding: 0px 3em 0px 3em;
    min-width: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .page {
        font-size: 0.9em;
    }
}

@media (max-width: 600px) {
    .page {
        padding: 0px 15px 0px 15px;
        font-size: 0.8em;
    }
}

.page__title {
    margin: 0px 0px 1.43em 0px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 2.1em;
    line-height: 1em;
}

@media (max-width: 600px) {
    .page__title {
        padding: 0px 15px 0px 15px;
        line-height: 1.2em;
    }
}

.page__title_center {
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.stories {
    margin: 0px 0em 3em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 13px;
    font-size: 1rem;
}

@media (max-width: 460px) {
    .stories {
        grid-template-columns: 140px 140px 140px 140px;
        overflow: auto;
    }
}

.stories__item {
    position: relative;
}

.stories__item::after {
    content: "";
    padding: 0px 0px 139.29% 0px;
    display: block;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.2);
}

.stories__wrap {
    padding: 1.5em 1.2em 1.1em 1.1em;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 0.5em;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.stories__wrap::after {
    content: "";
    width: 104%;
    height: 104%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 52%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.stories__wrap:hover .stories__img {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition-duration: 3s;
    transition-delay: 0.3s;
}

.stories__img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.stories__title {
    padding: 0px 0.25em 0px 0px;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    line-height: normal;
}

.stories__date {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    text-align: right;
}

.add-article {
    margin: 0px 0px 3em 0px;
    padding: 1.5em 2em 1.5em 2.6em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #121212;
    border-radius: 0.5em;
    box-shadow: 0 1.5em 2.5em rgba(0, 0, 0, 0.45);
    font-size: 1rem;
}

@media (max-width: 850px) {
    .add-article {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .add-article {
        font-size: 0.75rem;
    }
}

.add-article__textarea {
    margin: 0px 2em 0px 0px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 0px;
}

.add-article__textarea textarea {
    height: 1.27em;
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    overflow: hidden;
}

@media (max-width: 850px) {
    .add-article__textarea textarea {
        font-size: 13.5px;
    }
}

@media (max-width: 400px) {
    .add-article__textarea textarea {
        font-size: 12px;
    }
}

.add-article__textarea textarea::-webkit-input-placeholder {
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
}

.add-article__textarea textarea::-moz-placeholder {
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
}

.add-article__textarea textarea:-ms-input-placeholder {
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
}

.add-article__textarea textarea::-ms-input-placeholder {
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
}

.add-article__textarea textarea::placeholder {
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
}

.add-article .add-article__add-file,
  .add-article .add-article__submit {
    width: 4.4em;
    height: 4.4em;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color;
    transition-duration: 0.2s;
    font-size: inherit;
}

.add-article__add-file {
    margin: 0px 1.5em 0px 0px;
    background-color: #ebebeb;
    background-image: url(../images/icons/photocamera.svg);
    background-size: 2.2em 2.2em;
}

@media (max-width: 400px) {
    .add-article__add-file {
        background-size: 2em 2em;
    }
}

.add-article__add-file:hover {
    background-color: #c5c5c5;
}

.add-article__add-file input {
    display: none;
}

.add-article__submit {
    background-color: #3137c9;
    background-image: url(../images/icons/row-right.svg);
    background-size: 1.7em 1.7em;
}

@media (max-width: 400px) {
    .add-article__submit {
        background-size: 1.5em 1.5em;
    }
}

.add-article__submit:hover {
    background-color: #22268b;
}

.post {
    margin: 0px 0px 3em 0px;
    padding: 2.5em 2.5em 2.5em 2.6em;
    background-color: #202020;
    border-radius: 0.5em;
    box-shadow: 0 1.5em 2.5em rgba(0, 0, 0, 0.35);
    font-size: 1rem;
}

@media (max-width: 850px) {
    .post {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .post {
        padding: 15px 15px 20px 15px;
    }
}

.post:last-of-type {
    margin: 0px 0px 0px 0px;
}

.post_pd-less {
    padding: 1.3em 1.8em 4.1em 2.5em;
}

@media (max-width: 600px) {
    .post_pd-less {
        padding: 15px 15px 20px 15px;
    }
}

.post__top {
    margin: 0px 0px 1.17em 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

.post__share, .post__back {
    opacity: 0.6;
    transition: opacity;
    transition-duration: 0.3s;
}

.post__share:hover, .post__back:hover {
    opacity: 1;
}

.post__share {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.post__share-icon {
    margin: 0px 0px 0px 0.58em;
    width: 1.67em;
    height: 1.67em;
}

.post__header {
    margin: 0px 0px 2.8em 0px;
}

.post__header_hidden {
    display: none;
}

.post__header_pd0 {
    margin: -2.5em -2.5em 2.8em -2.6em;
}

@media (max-width: 600px) {
    .post__header_video {
        margin: -15px -15px 2.5em -15px;
    }
}

.post__img-link {
    font-size: 0px;
}

.post__title {
    margin: 0px 0px 1em 0px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
}

.post__title_hidden {
    display: none;
}

.post__title_mr-less {
    margin: 0px 0px 0.44em 0px;
}

.post__title-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post__title-link:hover {
    text-decoration: underline;
}

.post__description, .post__content, .post__text {
    margin: 0px 0px 1.14em 0px;
    color: #d2d2d2;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    line-height: 1.5em;
}

.post__description_hidden, .post__content_hidden, .post__text_hidden {
    display: none;
}

.post__text {
    margin: 0px 0px 1.64em 0px;
    font-size: inherit;
}

.post__content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 2.07em 0px;
}

.post__content *:nth-last-child(1) {
    margin: 0px 0px 0px 0px;
}

.post__content h2,
    .post__content h3,
    .post__content h4,
    .post__content h5,
    .post__content h6 {
    margin: 0px 0px 1.4em 0px;
    color: inherit;
    font-family: inherit;
    line-height: 1.5;
}

.post__content h2 {
    font-size: 1.5em;
}

.post__content h3 {
    font-size: 1.4em;
}

.post__content h4 {
    font-size: 1.3em;
}

.post__content h5 {
    font-size: 1.2em;
}

.post__content h6 {
    font-size: 1.1em;
}

.post__content a {
    font-family: inherit;
    font-size: inherit;
    color: #107eff;
}

.post__content a:hover {
    text-decoration: underline;
}

.post__content .video,
    .post__content .fr-video {
    margin: 0px 0px 1em 0px;
    font-size: inherit;
}

.post__content img {
    margin: 0px 0px 1.79em 0px;
    max-width: 100%;
    height: auto;
}

.post__content ul,
    .post__content ol {
    margin: 0px 0px 1em 0px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
}

.post__content table {
    margin: 0px 0px 1em 0px;
    font-size: inherit;
}

.post__content td {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
}

.post__footer {
    display: grid;
    grid-template-columns: auto auto;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 1.5em;
}

@media (max-width: 550px) {
    .post__footer {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}

.post__footer_1row {
    grid-template-rows: auto;
}

.post__info-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.post__info-item {
    margin: 0px 3em 0px 0px;
    color: #828282;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
}

.post__info-item:not(:first-child) {
    position: relative;
}

.post__info-item:not(:first-child)::before {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    background-color: #c4c4c4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -1.75em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post__read-more {
    margin: -0.14em 0px 0px 0px;
    color: #107eff;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
}

.post__read-more_hidden {
    display: none;
}

.post__read-more:hover {
    text-decoration: underline;
}

.video,
.fr-video {
    display: block;
    position: relative;
    overflow: hidden;
}

.video::before,
  .fr-video::before {
    content: "";
    padding: 0px 0px 50.9% 0px;
    width: 100%;
    display: block;
}

.video_modal::before,
  .fr-video_modal::before {
    content: "";
    padding: 0px 0px 137.7% 0px;
    width: 100%;
    display: block;
}

.video a,
  .video iframe,
  .video object,
  .video embed,
  .video video,
  .fr-video a,
  .fr-video iframe,
  .fr-video object,
  .fr-video embed,
  .fr-video video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.pagination {
    margin: 8em 0px 0px 0px;
    align-self: center;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 1em;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .pagination {
        font-size: 0.9rem;
    }
}

.pagination__link {
    width: 2.86em;
    height: 2.86em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0d0d0d;
    border-radius: 0.21em;
    box-shadow: 0 0 0.71em rgba(0, 0, 0, 0.15);
    font-size: 1.4em;
}

.pagination__link:hover {
    background-color: #1a1a1a;
}

.pagination__link.active {
    background-color: #107eff;
}

.read-also {
    padding: 3.2em 0px 2.8em 0px;
    margin: 0px 0px 0px 0px;
    border-top: 0.1em solid #1c1c1c;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .read-also {
        font-size: 0.9rem;
    }
}

.read-also__title {
    margin: 0px 0px 1.38em 0px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.6em;
    font-weight: 500;
}

.read-also__list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-row-gap: 2.6em;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .read-also__list {
        display: block;
    }
}

@media (max-width: 600px) {
    .read-also__item {
        margin: 0px 0px 22px 0px;
    }
}

.read-also__art-title {
    margin: 0px 0px 0.21em 0px;
    color: #f3eba2;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    cursor: pointer;
}

.read-also__art-title:hover {
    text-decoration: underline;
}

.read-also__art-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.read-also__data {
    color: #828282;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
}

.add-comment {
    padding: 3.3em 0px 2.5em 0px;
    border-top: 0.1em solid #1c1c1c;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .add-comment {
        font-size: 0.9rem;
    }
}

@media (max-width: 750px) {
    .add-comment {
        font-size: 0.8rem;
    }
}

.add-comment_no-b {
    border: none;
}

.add-comment_mt {
    margin: -0.4em 0px 0px 0px;
}

.add-comment__title {
    margin: 0px 0px 1.2em 0px;
    font-size: 1.6em;
    font-weight: 500;
}

.add-comment__form {
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

.add-comment__form_flex {
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.add-comment__form_mb22 {
    margin: 0px 0px 2.2em 0px;
}

.add-comment__form_w280 {
    width: 100%;
    max-width: 280px;
}

.add-comment__form_w340 {
    width: 100%;
    max-width: 34em;
}

.add-comment__fields {
    margin: 0px 30px 0px 0px;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.add-comment__fields_w340 {
    width: 100%;
    max-width: 34em;
}

@media (max-width: 750px) {
    .add-comment__fields_w340 {
        max-width: 40em;
    }
}

@media (max-width: 500px) {
    .add-comment__fields_w340 {
        max-width: 45em;
    }
}

.add-comment__avatar {
    max-width: 15em;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@media (max-width: 500px) {
    .add-comment__avatar {
        margin: 0px 0px 26px 0px;
    }
}

.add-comment__input {
    margin: 0px 0px 13px 0px;
    font-size: 0px;
}

.add-comment__input input,
    .add-comment__input textarea {
    height: 1.64em;
    background-color: transparent;
    border: none;
    border-bottom: 0.07em solid #3f3f3f;
    color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    resize: none;
    overflow: hidden;
    transition: border;
    transition-duration: 0.3s;
}

@media (max-width: 850px) {
    .add-comment__input input,
        .add-comment__input textarea {
        font-size: 12.6px;
    }
}

.add-comment__input input:focus,
      .add-comment__input textarea:focus {
    border-color: #22268b;
}

.add-comment__input input::-webkit-input-placeholder, .add-comment__input textarea::-webkit-input-placeholder {
    font-size: inherit;
    opacity: 0.2;
}

.add-comment__input input::-moz-placeholder, .add-comment__input textarea::-moz-placeholder {
    font-size: inherit;
    opacity: 0.2;
}

.add-comment__input input:-ms-input-placeholder, .add-comment__input textarea:-ms-input-placeholder {
    font-size: inherit;
    opacity: 0.2;
}

.add-comment__input input::-ms-input-placeholder, .add-comment__input textarea::-ms-input-placeholder {
    font-size: inherit;
    opacity: 0.2;
}

.add-comment__input input::placeholder,
      .add-comment__input textarea::placeholder {
    font-size: inherit;
    opacity: 0.2;
}

.add-comment__input_pd-mr {
    margin: 0px 0px 26px 0px;
}

.add-comment__input_pd-mr input {
    padding: 0px 0px 7px 0px;
}

.add-comment__input_no-h input {
    height: auto;
}

.add-comment__img {
    margin: 0px 0px 1.5em 0px;
    width: 15em;
    height: 15em;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.25);
}

.add-comment__download-img {
    color: #107eff;
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
}

.add-comment__download-img:hover {
    text-decoration: underline;
}

.add-comment__download-img input {
    display: none;
}

.add-comment__submit {
    margin: 0px 0px 2.1em 0px;
}

.comments {
    margin: 2.08em 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 1.2em;
    line-height: 1.2em;
}

.comments__item .comments {
    margin: 2.33em 0px 0px 0px;
    padding: 0px 0.333em 0px 2.5em;
    font-size: inherit;
}

.comments__author {
    margin: 0px 0px 1.17em 0px;
    display: grid;
    grid-template-columns: 2.5em auto;
    grid-template-rows: auto auto;
    grid-column-gap: 1.333em;
    grid-auto-flow: column;
}

.comments__img {
    grid-row: 1 / -1;
}

.comments__name {
    font-weight: 500;
}

.comments__data {
    color: #757575;
}

.comments__answer {
    padding: 0px 0px 0px 0px;
    margin: 0.83em 0px 0px 0px;
    background: transparent;
    border: none;
    color: #107eff;
    transition: color;
    transition-duration: 0.3s;
}

.comments__answer:hover {
    color: #005ac3;
}

.works__article {
    margin: 0px 0px 3em 0px;
}

.work {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #202020;
    border-radius: 0.5em;
    box-shadow: 0 1.5em 2.5em rgba(0, 0, 0, 0.35);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

@media (max-width: 950px) {
    .work {
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .work {
        display: block;
    }
}

.work__prev {
    -ms-flex: 0 1 51.67%;
    flex: 0 1 51.67%;
}

.work__img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.work__content {
    padding: 3.1em 2.4em 2.4em 2.5em;
    -ms-flex: 0 1 48.33%;
    flex: 0 1 48.33%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
}

@media (max-width: 500px) {
    .work__content {
        padding: 3.1em 15px 2.4em 15px;
    }
}

.work__title {
    margin: 0px 0px 1.25em 0px;
    color: #ffffff;
    font-size: 2.4em;
    font-weight: 500;
}

.work__description {
    margin: 0px 0px 2em 0px;
    color: #d2d2d2;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6875em;
}

.work__tegs {
    margin: 0px 0px 3em 0px;
}

.work__tosite {
    margin: auto 0px 0px 0px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.tegs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tegs__item {
    margin: 0px 10px 10px 0px;
    padding: 7px 10px 4px 10px;
    background-color: #ea8c1e;
    border-radius: 3px;
    color: #ffffff;
    font-size: 9px;
    text-transform: uppercase;
}

.search-list {
    font-size: 1rem;
}

@media (max-width: 850px) {
    .search-list {
        font-size: 0.9rem;
    }
}

.search-list__item {
    margin: 0px 0px 3em 0px;
}

.search-list__article {
    margin: 0px 0px 0px 0px;
}

.reg-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 450px) {
    .reg-buttons_block450 {
        display: block;
    }
}

.reg-buttons__item {
    margin: 0px 8px 0px 8px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

@media (max-width: 650px) {
    .reg-buttons__item {
        font-size: 11px;
    }
}

@media (max-width: 450px) {
    .reg-buttons__item {
        margin: 0px 8px 12px 8px;
    }
}

.reg-buttons__item_grey {
    color: #b2b2b2;
}

.reg-buttons__link {
    display: inline;
}

.reg-buttons__link:hover {
    text-decoration: underline;
}

.modal {
    padding: 0px 20px 0px 20px;
    width: 100vw;
    height: 100vh;
    display: none;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.modal.show {
    display: -ms-flexbox;
    display: flex;
}

.modal__content {
    box-shadow: 0 1em 3.5em rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    background-color: #202020;
    font-size: 10px;
    position: relative;
    z-index: 100;
}

@media (max-width: 850px) {
    .modal__content {
        font-size: 8px;
    }
}

.contact {
    padding: 8em 8em 2.5em 8.2em;
    width: 50em;
}

@media (max-width: 850px) {
    .contact {
        padding: 7em 6em 2.5em 6em;
    }
}

@media (max-width: 750px) {
    .contact {
        padding: 7em 6em 2.5em 6em;
    }
}

@media (max-width: 450px) {
    .contact {
        padding: 6em 4.5em 2.5em 4.5em;
        width: 35em;
    }
}

.close {
    display: inline;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 10000;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .close {
        font-size: 0.8rem;
    }
}

.close__icon {
    width: 2em;
    height: 2em;
    color: #828282;
    transition: color;
    transition-duration: 0.3s;
}

.close__icon:hover, .close__icon:focus {
    color: #ffffff;
}

.social-modal {
    padding: 7.7em 13.7em 7.8em 13.7em;
    max-width: 500px;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .social-modal {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    .social-modal {
        font-size: 0.5rem;
    }
}

@media (max-width: 400px) {
    .social-modal {
        font-size: 0.4rem;
    }
}

.preview {
    width: 42.7em;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
}

@media (max-width: 850px) {
    .preview {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .preview {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .preview {
        font-size: 0.6rem;
    }
}
